<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-4">
          <h2>Contact</h2>
          <section>No. Tel 08231242342</section>
          <section>Jl. Manyar Kertoarjo 5 No.12 a</section>
        </div>
        <div class="col-sm-push-2 col-sm-4">
          <h2>Mitra Kami</h2>
          <section>No. Tel 08231242342</section>
          <section>Jl. Manyar Kertoarjo 5 No.12 a</section>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/smooth-scroll.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
