<footer>
  <div class="container foot-body">
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-4">
          <h2>Contact</h2>
          <section>No. Tel 08231242342</section>
          <section>Jl. Manyar Kertoarjo 5 No.12 a</section>
        </div>
        <div class="col-sm-push-2 col-sm-4">
          <h2>About</h2>
          <section>Dengan didukung para dokter ahli dilengkapi dengan peralatan dan perangkat medis yang memadai. Rumah Sakit Umum yang siap untuk memberikan pelayanan kesehatan yang terbaik.</section>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 copyright">
    <div class="container">
      <div class="col-sm-6">
        <img src="img/logoputih.png" alt="Logo">
      </div>
      <div class="col-sm-offset-3 col-sm-3">
            <h5>&copy Copyright 2017 Trustmedis </h5>
      </div>
    </div>
  </div>
</footer>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/smooth-scroll.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
